<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="AppKey" value="consumer" />
    <add key="RabbitMQ_Address" value="amqp://localhost" />
    <add key="RabbitMQ_Username" value="guest" />
    <add key="RabbitMQ_Password" value="guest" />
    <add key="RabbitMQ_Queue" value="queue" />
    <add key="RabbitMQ_ErrorQueue" value="errorqueue" />
    <add key="RabbitMQ_Exchange" value="exchange1" />
    <add key="RabbitMQ_RoutingKey" value="#" />
  </appSettings>
</configuration>